/* Use Reset CSS em tudo que entregar para o Israel */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis CSS */
:root {
    --color-light : #f4f4f4;
    --color-dark: #111111;
    --color-orange: #ff6600;
     --color-orange-alpha: rgba(255, 102, 0, .25);
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 30px;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: "Quicksand", sans-serif;
}

/* formatações básicas */
a {
    color: var(--color-light);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

a:hover {
    color: var(--color-orange);
}

ul, ol {
    list-style: none;
}

.hero {
    color: var(--color-light);
    height: 100vh;
    padding-inline: var(--spacing-lg);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.4)),
    url(../images/motos/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;    
}

.hero-header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-menu {
    display: flex;
    gap: var(--spacing-md);
}

.cta {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
    text-align: center;
}


.cta h2 {
    font-size: 8vmin;
}

.cta p {
    width: 80%;
    line-height: 1.6;
    text-wrap: balance;
}

.btn {
    border: 2px solid var(--color-orange);
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: 80px;
    background-color: var(--color-orange-alpha);
    transition: .5s;
}

.btn:hover {
    background-color: transparent;
}

.icon {
    animation: motinho 2s infinite linear;
}
/* Animando a moto */

@keyframes motinho {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    
}

.motos {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.motos h2 {
    font-size: 6vmin;
    padding: var(--spacing-lg);
}

.grid-motos {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--spacing-lg);
}

.moto-item {
    width: 30%;  /* 30% de 100% do grid-motos */
    border: 1px solid var(--color-orange-alpha);
    box-shadow: 1px 1px 10px var(--color-orange-alpha);
    border-radius: 15px;
    padding: var(--spacing-lg);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
    transition: .5s;
    animation: viewAnimation both;
    animation-timeline: view(70% 20%);
}

.moto-item:hover{
    scale: 1.1;
}

.moto-item img {
    width: 70%;
    border-radius: 15px;
}

.moto-item h3{
    font-size: 3vmin;
}

.moto-item p{
    width: 70%;
    text-wrap: balance;
    line-height: 1.6;
}

/* animação para os cards */
@keyframes viewAnimation {
    from {
        opacity: 0;
        transform: scale(.5);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}

.container {
    min-height: 100vh;
}


/* Design responsivo para se adequar às telas*/
@media( width <= 950px){

    .moto-item {
        width: 45%;
    }

}

@media (width <= 650px){
    .moto-item {
        width: 90%;
    }
       
}

